.combobox{
  border:solid 1px #FFF;

  &.active{
    border:solid 1px #E9E9E9;
    color:#000;
    label{
      color:#000;
      i{
        display:inline-block;
      }
    }
  }
  label{
    font-size:12px;
    color:#9F9F9F;
    font-weight: normal;
    padding:7px;
    cursor:pointer;
    margin:0;
    display:block;
    span{
      padding:0 !important;
      margin:0 !important;
    }
    i{
      display:none;
      float:right;
      margin-top:3px;
      margin-right:5px;
    }
  }
  ul{
    display:none;
    position:absolute;
    border:solid 1px #E9E9E9;
    background:#FFF;
    padding:0;
    margin:-1px 0 0 -1px;
    z-index:99;
    max-height:250px;
    overflow: auto;
    li{
      display:block;
      margin:0;
      padding:0;
      list-style:none;
      border-bottom:solid 1px #E9E9E9;
      input{
        border:none !important;
        background:#FFFFFF !important;
        color:#7C7C7C !important;
      }
      a{
        display:block;
        text-decoration: none;
        padding:8px;
        color:#7C7C7C;
        font-size:12px;
        background:#F9F9F9;
        &:hover{
          background: #FFFFFF;
          color:#000;
        }
      }
      &:last-child{
        border-bottom:none;
      }
    }
  }
  &.emptyValue{
    label{
      span{
        color:#d3d3d3 !important;
      }
    }
  }
}

