#main{
    #content{
        #menu_anchor{
            display:inline-block;
            float:left;
            border-radius:50%;
            text-align:center;
            background:#FFF;
            box-shadow: 0 0 5px #E0E0E0;
            text-decoration:none;
            width:33px;
            height:33px;
            margin:11px 0 0 13px;
            color:#6D6D6D;
            i{
                margin:10px 0 0;
            }
            &:hover{
                background: #eaeaea;
            }
        }
        .logged_in_users{
            padding:0px 0 0 10px;
            float:left;
            a.circle{
                border-radius:50%;
                background:#FFF;
                box-shadow: 1px 1px 5px #C0C0C0;
                padding:8px;
                display:inline-block;
                text-align:center;
                font-size:12px;
                color:#6D6D6D;
                margin:10px 5px 0 0;
                text-decoration:none;
                &:hover{
                    background: #f6f6f6;
                    color:#153263;
                }
            }
        }
        .toolbar{
            height:54px;
            background:#BA1C1E;
            color: white;
            .buttons{
                display:block;
                margin:17px 17px 0 0;
                padding:0;
                float:right;
                li{
                    list-style:none;
                    margin:0;
                    padding:0 10px;
                    float:left;
                }
            }
        }
        .header{
            background:#FFF;
            box-shadow: 1px 1px 5px #D5D4D3;
            height:64px;

            h1{
                float:left;
                font-size:16px;
                color:#6D6D6D;
                margin:0;
                padding:25px 25px 0;
                small{
                    font-size:12px;
                    color:#C0C0C0;
                    display:inline-block;
                    margin-left:10px;
                }
            }
            .buttons{
                float:right;
                margin:20px;
                a{
                    display:inline-block;
                    margin:0 10px;
                    padding:5px 10px;
                    text-decoration: none;
                    border:solid 1px #E8E7E5;
                    color:#6D6D6D;
                    font-size:12px;
                    &:hover{
                        color: #464646;
                        border:solid 1px #cdccca;
                    }
                }
            }
        }
        .error{
            background: #9f0000;
            box-shadow: 1px 1px 5px #D5D4D3;
            color:#FFF;
            padding:25px;
            text-shadow: 1px 1px 0 #620000;
            strong{
                display:inline-block;
                margin-right:20px;
            }
            ul{
                margin:0;
                padding:0;
                li{
                    margin:0;
                    padding:0;
                    list-style:none;
                }
            }
            .dismiss{
                display:inline-block;
                float:right;
                color:#FFF;
            }
        }
        .success{
            background: #dff0d8;
            box-shadow: 1px 1px 5px #D5D4D3;
            color:#3c763d;
            padding:10px 25px;
            text-shadow: 1px 1px 0 #ebfce4;
            strong{
                display:inline-block;
                margin-right:10px;
            }
            .dismiss{
                display:inline-block;
                float:right;
                color:#3c763d;
            }
        }

        .area{
            padding:25px 25px 25px 25px;
            h1{
                font-size:16px;
                color:#6D6D6D;
                margin:40px 0 20px;
                padding:0;
                span{
                    font-size:12px;
                    color:#B5B3AF;
                    display:inline-block;
                    margin-left:15px;
                }
            }

            h2{
              color:#6D6D6D;
              font-size:16px;
              padding:0;
              small{
                font-size:12px;
                display:inline-block;
                margin-left:10px;
                color:lighten(#6D6D6D, 20);
              }
            }

            form{
                input[type='submit']{
                    display: inline-block;
                    margin: 0;
                    padding: 5px 10px 4px;
                    text-decoration: none;
                    border: solid 1px #6D6D6D;
                    color: #6D6D6D;
                    font-size: 12px;
                    background:none;
                    &:hover{
                        border:solid 1px #000;
                        color:#000;
                    }
                }
            }
        }
      .table{
        margin-bottom:45px;
      }
    }
}