#main{
    #navigation{
        width:160px;
        background:#FFF;
        box-shadow: 0 0 5px #C0C0C0;
        .header{
            height:54px;
            text-align:center;
            .logo{
                img{
                    width:80%;
                    margin:20px 0 0;
                }
                margin:17px 10px 0;
                text-decoration: none;
            }
            .collapse{
                display:inline-block;
                width:21px;
                height:21px;
                color:#FFF;
                text-decoration: none;
                float:right;
                margin:17px 5px 0 0;
            }
        }
        ul{
            margin:20px 0 0;
            border-top:solid 1px #F1F1F1;
            border-bottom:solid 1px #F1F1F1;
            padding:0;
            li{
                list-style: none;
                margin:0;
                padding:0;
                a{
                    text-decoration: none;
                    display:block;
                    color:#6D6D6D;
                    font-size:12px;
                    padding:13px 9px;
                    padding-left:11px;
                    background-repeat:no-repeat;
                    background-position: 10px center;
                    i{
                        display:inline-block;
                        margin-right:7px;
                    }
                    &:hover{
                        color:#000;
                    }
                }
                &.course_schedule a{
                    @include bgimage("/images/icons/CourseSchedule@2x.png");
                    background-size: 12px 13px !important;
                }
                &.contacts a{
                    @include bgimage("/images/icons/Contacts@2x.png");
                    background-size: 14px 11px !important;
                }
                &.send_quote a{
                    @include bgimage("/images/icons/SendQuote@2x.png");
                    background-size: 14px 12px !important;
                }
                &.map a{
                    @include bgimage("/images/icons/Map@2x.png");
                    background-size: 12px 12px !important;
                }
                &.website a{
                    @include bgimage("/images/icons/Website@2x.png");
                    background-size: 12px 12px !important;
                }
            }
            li.active{
                background:#3C3C3C;
                a{
                    &:hover{
                        color:#FFF;
                    }
                }
            }
        }
    }
    #content{

    }
}