// Desktop
#main{
    #content{
        #menu_anchor{
            display:none;
        }
    }
}

// Tablet
@media (max-width: 768px) {
  #main #content .header h1{
    width:100%;
    text-align:center;
    float:none;
  }
  #main #content .header .buttons{
    float:none;
    width:100%;
    text-align:center;
    padding:20px 0;
    margin:0;
  }
    #main{
        #content{
            #menu_anchor{
                display:inline-block;
            }
        }
        #navigation{
            display:none;
        }
    }
  .data-group .data-group-field{
    width:100% !important;
  }
}

// Mobile
@media (max-width: 970px) {
    .table{
        th{
            td{
                border:none;
            }
        }
        tr{
            td{
                border:none;
            }
        }
    }

}