@import "normalize";
@import "mixins";
@import "general";
@import "navigation";
@import "content";
@import "responsiveness";
@import "stackable";
@import "detail";
@import "modules";
@import "components";
@import "variables";

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color:#E0E0E0;
  border-color: #CCCCCC;
  color:#000;
  font-size:12px;
}